$main: #EA9A3D;
$red: #ff3551;


$gray: #8B8B8B;
$faded-gray: #5A5A5A;
$dark-gray: #272727;
$light-gray: #DADADA;
$extra-light-gray: #F9F9F9;
$border-error: $red;
$background-error: rgba($red, .03);


