.Select {
	position: relative;
	&__trigger {
		position: relative;
	}

	&__icon-wrapper {
		position: absolute;
		right: 32px;
		top: 50%;
		transform: translateY(-50%);
		transition: transform .2s ease;
		transform-origin: center;
		background-color: #FFF;
		width: 30px;
		height: 30px;
		display: flex;
		align-items: center;
		justify-content: center;
		
		&--open {
			transform: rotate(180deg) translateY(50%);
		}
	}
}