.InputText {
	width: 100%;
	font-size: 16px;
	padding: 16px 20px;
	background-color: #FFF;
	border: 1px solid $light-gray;

	&:focus {
		outline: none;
	}

	&--dark {
		background-color: $extra-light-gray;
	}

	&--error {
		border: 1px solid $border-error;
		background-color: $background-error;
	}
}